.carousel-title {
    color: var(--carousel-title-color);
    font-family: var(--carousel-title-font);
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    left: 50%;
    text-align: center;
    top: 8%;
}