<h2 class="adm-title">Aqui você poderá editar seu website</h2>

<section class="adm">
    <div class="adm-div">
        <a href="admin/categories"><button class="adm-button">See all categories, create new ones, edit or delete them</button></a>
    </div>
</section>