<h2 class="adm-title">Aqui você poderá editar seu website</h2>

<section class="adm">
    
    <form class="adm-form" action="/admin/add/category" method="get">
        <label class="adm-lable" for="category">Add new category:</label>
        <input class="adm-button" type="submit" name="category" id="category" value="New Category">
    </form>
</section>