{{>_admnavbar}}

{{#each mainPageData}}

{{else}}


<form class="form-mainPage" enctype="multipart/form-data" action="/admin/mainpage/save" method="post">
    <label for="title" class="formPost-label">Title:</label>
    <input type="text" name="title" id="title" class="formPost-input --inputMP">

    <label for="title" class="formPost-label ">Subtitle:</label>
    <input type="text" name="subtitle" id="title" class="formPost-input --inputMP">

    <div class="mpInputsImages" data-mainDiv="">

        <div class="mpBannerPreview">
            <div class="mpButtonSelect">        
                <label for="mpFile" id="mpChooseAnImage" class="main-btn --mpButton" data-inputSelected="inputImage">Choose the Banners</label>
            </div>

            <label class="imageLabel" id="mpLabelImage" data-mpLabelImage="">
            </label>

            <input class="formPost-input --diplay-none" type="file" id="mpFile" name="file" data-teste="" multiple>

        </div>

        <button type="submit" class="main-btn --mpSubmitButton">Save</button>

    </div>
</form>

{{/each}}
