{{>_admnavbar}}

{{#each mainPageData}}

{{else}}

<form class="form-mainPage" action="" method="post">
    <label for="title" class="formPost-label">Title:</label>
    <input type="text" id="title" class="formPost-input --inputMP">

    <label for="title" class="formPost-label ">Subtitle:</label>
    <input type="text" id="title" class="formPost-input --inputMP">

    <button type="submit" id="" class="main-btn --postFormButton">Save</button>

</form>

{{/each}}
