.formPost {
    padding: 1.5rem; 
    display: flex;   
    flex-direction: column;
    gap: 1.5rem;
}

.formPost-form {
    display: flex;   
    flex-direction: column;
}

.formPost-label {
    color: white;
    font-family: 'Lobster', cursive,'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.formPost-position {
    position: relative;
}

.formPost-input {
    width: 25rem;
    height: 2.5rem;
    border-radius: .5rem;
    padding: .3rem;
    font-size: 1.5rem;
}

.formPost-textarea {
    border-radius: .5rem;
    padding: .3rem;
    font-size: 1.5rem;
}

.formPost-title {
    color: #b21515;
    font-family: 'Lobster', cursive,'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 0;
}

.formPost-subtitle {
    color: #b21515;
    font-family: 'Lobster', cursive,'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

.formPost-nameFile {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
    width: 13rem;
}

.formPost-chageFile {
    width: 9.1rem;
    padding: .5rem;
    height: auto;
    color: var(--adm_post-main-button-color);
    background-color: var(--adm_post-main-button-backgroundcolor);
    font-family: var(--adm_post-main-button-font);
    border-radius: 1rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPost-label {
    color: #b21515;
    font-family: 'Lobster', cursive,'Times New Roman', Times, serif;
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.formPost-button {
    width: 15rem;
    height: auto;
    padding: .7rem;
    color: var(--adm_post-main-button-color);
    background-color: var(--adm_post-main-button-backgroundcolor);
    font-family: var(--adm_post-main-button-font);
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.formPost-button:hover {
    cursor: pointer;
}

.formPost-image {
    max-width: 100%;    
    position: relative;
    top: -1rem;
    opacity: 1;
}

.--diplay-none {
    display: none;
}

.--imageLabel {
    display: block;
    max-width: 25rem;
    opacity: .5;
    cursor: pointer;
    transition: 1s;
}

.--imageLabel:hover {
    opacity: 1;
}