.adm-title {
    color: var(--adm-title-color);
    font-family: var(--adm-title-font);
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.adm {
    height: auto;
    width: 100%;
}

.adm-nav {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 0 0 1.5rem;
}

.adm-button {
    background-color: var(--adm-button-background-color);
    border-radius: 1rem;
    color: var(--adm-button-color);
    font-family: var(--adm-button-font);
    font-size: 1.7rem;
    height: auto;
    padding: .7rem;
    width: 15rem;
    transition: 1s;
}

.adm-button:hover {
    cursor: pointer;
}

.adm-button:hover {
    transform: scale(1.1);
}






