<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Reset --}}
    <link rel="stylesheet" href="/css/reset.css">

    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    {{!-- Slider --}}
    <link rel="stylesheet" href="/css/main/Sec_Category/swiper/swiper.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

    {{!-- Website CSS --}}
    <link rel="stylesheet" href="/css/default.css">

    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/header/menu.css">
    <link rel="stylesheet" href="/css/header/menu-list.css">
    <link rel="stylesheet" href="/css/header/menu-item.css">
    <link rel="stylesheet" href="/css/header/menu-link.css">

    <link rel="stylesheet" href="/css/main/Sec_Background/background/background.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/background/background-effects.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/carousel/carousel.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/carousel/carousel-image.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/carousel/carousel-title.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/carousel/carousel-description.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/title/main-title.css">
    <link rel="stylesheet" href="/css/main/Sec_Background/title/main-subtitle.css">

    <link rel="stylesheet" href="/css/main/Sec_Category/category/category.css">
    <link rel="stylesheet" href="/css/main/Sec_Category/category/category-title.css">

    <title>Blog Filmes</title>
</head>
<body>
    {{!-- {{>_navbar}} --}}
    {{{body}}}
</body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/carousel.js"></script>
</html>