.admCategory {
    height: auto;
    width: 100%;
}

.admCategory-create {
    padding: 1.5rem 0 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 9.2rem;
}

.admCategory-title {
    color: var(--adm_category-title-color);
    font-family: var(--adm_category-title-font);
    font-size: 1.5rem;
}

.admCategory-buttonNew {
    width: auto;
    height: auto;
    padding: .7rem;
    color: var(--adm_category-main-button-color);
    background-color: var(--adm_category-main-button-backgroundcolor);
    font-family: var(--adm_category-main-button-font);
    border-radius: 1rem;
    font-size: 1.5rem;
}

.admCategory-buttonNew:hover {
    cursor: pointer;
}

.admCategory-section {
    display: flex;
    margin: 1rem;
}

.admCategory-div {
    width: 50%;
    height: auto;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 1rem;
    row-gap: 5px;
}

.admCategory-subtitle {
    color: var( --adm_category-subtitle-color);
}

.admCategory-position {
    display: flex;
    gap: 2rem;
}

.admCategory-button {
    background-color: var(--adm_category-button-backgroundcolor);
    width: 11rem;
    height: 2.5rem;
    color: var(--adm_category-button-color);
    font-family: 'Lobster', cursive,'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.admCategory-button:hover {
    cursor: pointer;
}


.--noCategory {
    font-size: 3rem;
    margin: 5rem 0 0 2rem;
}

.--h3 {
    font-size: 4rem;
    margin-left: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}