.banner-navigation {
    position: absolute;
    width: 75rem;
    margin-top: 386px;
    display: flex;
    justify-content: center;
}

.banner-navigation div:not(:last-child) {
    margin-right: 42px;
}

#radio1:checked ~ .banner-navigation .auto-btn1 {
    background-color: rgb(109, 6, 6);
}

#radio2:checked ~ .banner-navigation .auto-btn2 {
    background-color: rgb(109, 6, 6);
}

#radio3:checked ~ .banner-navigation .auto-btn3 {
    background-color: rgb(109, 6, 6);
}

.banner-navigation div {
    border: 2px solid rgb(109, 6, 6);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.banner-manual-navigation {
    position: absolute;
    width: 75rem;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid rgb(109, 6, 6);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(109, 6, 6);
}