.categoryForm {
    padding: 1.5rem;
}

.categoryForm-subtitle {
    color: var(--adm_categoryForm-subtitle-color);
    font-family: var(--adm_categoryForm-subtitle-font);
    font-size: 2rem;
    padding: 1rem 1rem 1rem 0;
}

.categoryForm-form {
    display: flex;
    flex-direction: column;
}

.categoryForm-label {
    color: var(--adm_categoryForm-lable-color);
    font-family: var( --adm_categoryForm-lable-font);
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
}


.categoryForm-input {
    width: 25rem;
    height: 2.5rem;
    border-radius: .5rem;
    padding: .3rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.--gray {
    color: gray;
}