body {
    height: auto;
    width: 100%;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}

.main-btn {
    width: 16rem;
    height: 4rem;
    border-radius: 1rem;
    padding: .7rem;
    font-size: 1.5rem;

    background-color: var(--main-btn-bg-color);
    font-family: var(--main-font);
    color: var(--main-text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.secundary-btn {
    background-color: var(--secundary-btn-bg-color);
    width: 11rem;
    height: 2.5rem;
    color: var(--secundary-text-color);
    font-family: var(--main-font);
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.adm-main-title {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.div-edit-delete {
    display: flex;
    gap: 2rem;
}

.div-title-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 1rem;
}

.--dtbCategory {
    column-gap: 12.4rem;
}

.--dtbPost {
    column-gap: 18.4rem;
}
