:root {

    /* Fonts */
    --main-font: 'Lobster', cursive,'Times New Roman', Times, serif;;
    --secundary-font: sans-serif;

    /* Main Colors */
    --primary-color: #b21515;

    /* Background */
    --main-bg-color: black;

    /* Button Background Color */
    --main-btn-bg-color: #b21515;
    --secundary-btn-bg-color: #fff;
    --success-btn-bg-color: green;
    --dander-btn-bg-color: #b21515;

    /* Text Color */
    --main-text-color: #fff;
    --secundary-text-color: #b21515;
}