:root {
    /* -------------------------- Cores --------------------------*/

    /* header */
        --menu-background-color: #000;
        --menu-link-color: #fff;
        --menu-link-font: 'Times New Roman', Times, serif;

    /* main */
        /* Section_Background */
            /* background */
                --background-effects-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,5));
            
            /* carousel */
                --carousel-border-color: #000;
                --carousel-title-color: #b21515;
                --carousel-title-font: 'Times New Roman', Times, serif;
            
            /* title */
                --main-subtitle-color: #fff;
                --main-subtitle-font: 'Lobster', cursive,'Times New Roman', Times, serif;
                --main-title-color: #fff;
                --main-title-font: 'Lobster', cursive,'Times New Roman', Times, serif;

        
        
        /* Section_Category */
            /* category */
                --category-background-color: #000;
                --category-title-color: #fff;
                --category-title-font: 'Lobster', cursive,'Times New Roman', Times, serif;

            /* swiper */

                --swiper-button-background-color: #000;
                --swiper-button-next-color: #b21515;
                --swiper-button-prev-color: #b21515;
    
    /* ADM */
        --adm-title-color: #fff;
        --adm-title-font:'Lobster', cursive,'Times New Roman', Times, serif;
        --adm-lable-color: #fff;
        --adm-lable-font: 'Lobster', cursive,'Times New Roman', Times, serif;

        --adm-button-color: #fff;
        --adm-button-background-color: #b21515;
        --adm-button-font: 'Lobster', cursive,'Times New Roman', Times, serif;

        /* adm_categoryForm */
            --adm_categoryForm-subtitle-color: #b21515;
            --adm_categoryForm-subtitle-font: 'Lobster', cursive,'Times New Roman', Times, serif;
            --adm_categoryForm-lable-color: #b21515;
            --adm_categoryForm-lable-font: 'Lobster', cursive,'Times New Roman', Times, serif;

        /* adm_category */
            --adm_category-title-color: #fff;
            --adm_category-title-font: 'Lobster', cursive,'Times New Roman', Times, serif;
            --adm_category-subtitle-color: #fff;
            --adm_category-button-backgroundcolor: #fff;
            --adm_category-button-color: #b21515;   


        /* adm_msg */
            --adm_msg-alertSuccess-backgroundColor: green;
            --adm_msg-alertDanger-backgroundColor: #b21515;
            --adm_msg-color: #fff;
            --adm_msg-font: 'Lobster', cursive,'Times New Roman', Times, serif;





}

body {
    background-color: black;
}