.--indexMarginTop {
    margin-top: .5rem;
}

/* Background CSS */
    .index .background {
        background-image: url(../img/cortina-cinema.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 3rem);
    }

    .index .background .background-effects {
        align-items: center;
        background: var(--bg-effect-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

/* Carousel CSS */
    .index .carousel {
        height: 26.563rem;
        position: relative;
        width: 75rem;
    }

    .carrousel-image {
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: opacity 2000ms;
        width: 100%;
    }
    
    .selected {
        opacity: 1;
    }

/* Swiper CSS */
    .swiper {
        background-color: var(--main-bg-color);
        height: 100%;
        position: relative; 
        width: 100%;
    }

    .--indexSwiper{
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-left: 2rem;
        padding-top: 5rem;
    }
   