.mpInputsImages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.mpBannerPreview {
    margin-top: 2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    padding: .5rem;
}

.mpButtonSelect {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.mpButtonSelect div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    row-gap: .5rem;
}

.mpButtonSelect div h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.mpInputsImages img {
    width: 30.499rem;
    height: 10.802rem;
    border-radius: 1.5rem;
}

.--mpSubmitButton {
    background-color: var(--success-btn-bg-color);
    transition: .5s;
    margin-top: 2rem;
}

.--mpSubmitButton:hover {
    transform: scale(1.1);
}

.imageLabel {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.--mpButton {
    padding: 0;
}